html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('https://images3.alphacoders.com/626/626718.jpg');
}

.wrapper {
  color: aqua;
  font-family: sans-serif;
}
.title {
  text-align: center;
  color: yellowgreen;
  padding-top: 100px;
}
.timer-hb{
  text-align: center;
  color: red;
}